﻿@model IEnumerable<Image_Galery>
@{
    ViewData["Title"] = "Hình ảnh";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="~/dist/cards-gallery.bundle.css">
<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="heading">
            <h2 class="text-uppercase graphite-font-color">HÌNH ẢNH</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" href="@(Helper.ImgUri + item.Image_Content.Url)">
                            <img height="250px" src="@(Helper.ImgUri + item.Image_Content.Url)" alt="Card Image" class="card-img-top">
                        </a>
                        @*<div class="card-body">
                            <h6><a href="#">Lorem Ipsum</a></h6>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                        </div>*@
                    </div>
                </div>
            }

            @*<div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="~/dist/Post_Images/company-profile.jpg">
                    <img src="~/dist/Post_Images/company-profile.jpg" alt="Card Image" class="card-img-top">
                </a>
                <div class="card-body">
                    <h6><a href="#">Lorem Ipsum</a></h6>
                    <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="~/dist/Post_Images/shake-hands.jpg">
                    <img src="~/dist/Post_Images/shake-hands.jpg" alt="Card Image" class="card-img-top">
                </a>
                <div class="card-body">
                    <h6><a href="#">Lorem Ipsum</a></h6>
                    <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="~/dist/Post_Images/intro-slide-1.jpg">
                    <img src="~/dist/Post_Images/intro-slide-1.jpg" alt="Card Image" class="card-img-top">
                </a>
                <div class="card-body">
                    <h6><a href="#">Lorem Ipsum</a></h6>
                    <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="~/dist/Post_Images/intro-slide-3.jpg">
                    <img src="~/dist/Post_Images/intro-slide-3.jpg" alt="Card Image" class="card-img-top">
                </a>
                <div class="card-body">
                    <h6><a href="#">Lorem Ipsum</a></h6>
                    <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="~/dist/Post_Images/intro-slide-2.jpg">
                    <img src="~/dist/Post_Images/intro-slide-2.jpg" alt="Card Image" class="card-img-top">
                </a>
                <div class="card-body">
                    <h6><a href="#">Lorem Ipsum</a></h6>
                    <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                </div>
            </div>
        </div>*@
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.cards-gallery', { animation: 'slideIn' });
</script>

