﻿@{
    ViewData["Title"] = "Create Post";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/summernote/summernote-bs4.css" />

<div id="post-create" class="">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        Tạo bài viết
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <form>
                        <div id="editor">
                            <p>Here goes the initial content of the editor.</p>
                        </div>
                        <div id="summernote">Hello Summernote</div>
                        <div class="row pt-2">
                            <button type="submit" class="btn btn-success"><i class="fas fa-check white"></i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
</div>
@section Scripts{
    @*<script src="~/summernote/summernote-bs4.js"></script>*@
    <script src="~/dist/admin-lte.bundle.js"></script>
    <script src="~/dist/admin.bundle.js"></script>
    
    @*<script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>*@
}