﻿@section Scripts{
    <script src="~/dist/general-info.bundle.js"></script>
}
@{
    ViewData["Title"] = "Thông tin chung";
}

<div id="general-contain">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/Post_Images/general-top.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <div class="row">
                    <div class="col-sm text-left focus-in-contract-bck">
                        <h4 class="font-weight-bold">GIÁ TRỊ CỐT LÕI</h4>
                        <hr class="text-white" />
                        <p class="pt-4">
                            Chú trọng khách hàng bằng chất lượng sản phẩm và dịch vụ. Luôn đặt hiệu quả là mục tiêu của mọi công việc. Học hỏi, sáng tạo để hoàn thiện. Hợp tác, tin cậy là động lực của thành công.
                        </p>
                    </div>
                    <div class="col-sm text-left focus-in-contract-bck">
                        <h4 class="font-weight-bold">TẦM NHÌN</h4>
                        <hr />
                        <p class="pt-4">
                            Chúng tôi đóng góp cho sự phát triển của Việt Nam thông qua ngành công nghiệp Graphite. Vietnamgraphite định hướng phát triển thành một Tập đoàn phát triển bền vững tại Việt Nam.
                        </p>
                    </div>
                    <div class="col-sm text-left focus-in-contract-bck">
                        <h4 class="font-weight-bold">SỨ MỆNH</h4>
                        <hr />
                        <p class="pt-4">
                            Khai thác và chế biến ra những sản phẩm đạt chất lượng cao, đáp ứng được những tiêu chuẩn khắt khe trong ngành công nghiệp khai thác. Góp phần nâng cao chất lượng cuộc sống, đạt được sự tin yêu của khách hàng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="building-intro" class="building-info pt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 offset-2 pl-0">
                    <h3 class="text-uppercase graphite-font-color font-weight-bold text-animate focus-in-expand">VIETNAM GRAPHITE</h3>
                    <p class="pt-4 pb-5 multiline">
                        Công ty TNHH Tập đoàn Graphite Việt Nam (Vietnam Graphite Group - VGG, tiền thân là Công ty TNHH Thương mại Ngọc Viễn Đông), giấy chứng nhận đăng ký kinh doanh số 0101234036 do Sở KH & ĐT TP Hà Nội cấp lần đầu ngày 12.04.2002. Tên gọi mới được sử dụng từ tháng 04.2018 theo giấy chứng nhận thay đổi đăng ký kinh doanh do Sở KH & ĐT TP Hà Nội cấp ngày 16.04.2018.

                        VGG có trụ sở tại tầng 15, Tòa nhà Việt Á, phố Duy Tân, Cầu Giấy, Hà Nội. Mỏ Graphite của VGG tại xã Yên Thái, huyện Văn Yên, tỉnh Yên Bái. Nhà máy Chế biến Graphite của VGG tại xã Báo Đáp, huyện Trấn Yên, tỉnh Yên Bái.

                        Tổng mức đầu tư của cả dự án tổng thể là khoảng 700 tỷ đồng; trong đó riêng dự án khai thác và chế biến có mức đầu tư là 451 tỷ đồng được thực hiện từ 2014 đến nay, còn lại là các hạng mục khác như: mua lại công ty/mua mỏ, đền bù/giải phóng mặt bằng, thực hiện các nghĩa vụ đối với nhà nước… Trị giá tinh quặng mỏ của VGG được nhà nước định giá là 1.560 tỷ VNĐ làm cơ sở cho việc tính thuế khi cấp quyền khai thác mỏ.
                    </p>
                </div>
                <div class="col-6 p-0">
                    <img class="w-100 h-100" src="~/dist/Post_Images/graphite-building.png" />
                </div>
            </div>
        </div>
    </div>
    <div id="content-below" class="high-tech">
        <div class="text-white py-4">
            <div class="container">
                <div class="row text-center text-lg-left align-items-lg-center">
                    <div class="col-4 text-white">
                        <p class="font-weight-normal op-9 my-0"> Tổng mức đầu tư</p>
                        <h3 class="font-weight-bold my-0">
                            <span>700</span> Tỷ đồng
                        </h3>
                    </div>
                    <div class="col-4 text-white">
                        <p class="font-weight-normal op-9 my-0"> Dự án khai thác & chế biến</p>
                        <h3 class="font-weight-bold my-0">
                            <span>451</span> Tỷ đồng
                        </h3>
                    </div>
                    <div class="col-4 text-white">
                        <p class="font-weight-normal op-9 my-0">
                            Giá trị tinh quặng
                        </p>
                        <h3 class="font-weight-bold my-0">
                            <span>1.560</span> Tỷ đồng
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="graphite-map" class="map-intro map-bone-background pt-5">
        <div class="container">
            <div class="row">
                <div class="col-8 pt-5">
                    <div class="col-12 map-text">
                        <h3 class="text-uppercase graphite-font-color font-weight-bold multiline text-animate focus-in-expand">
                            MỎ GRAPHITE TẠI
                            YÊN THÁI - YÊN BÁI - VIỆT NAM
                        </h3>
                    </div>
                    <div class="col-8 map-geo">
                        <img class="" src="~/dist/Post_Images/geo.png" />
                    </div>
                    <img class="pt-5 my-5" src="~/dist/Post_Images/vn-rs.png" />
                </div>
                <div class="col-4 pl-5">
                    <p class="multiline">
                        Mỏ Graphite của VGG có diện tích 34,3 ha tại xã Yên Thái, huyện Văn Yên, tỉnh Yên Bái (tọa độ: N21052’18”/E104043’13”).

                        Trong đó diện tích khai thác là 11ha, được cấp theo giấy phép khai thác khoáng sản số 1429/GP-BTNMT ngày 17-07-2014. Tổng trữ lượng quy đổi khoảng 4 triệu tấn quặng nguyên khai (In Situ). Quặng graphite Yên Thái có nguồn gốc nhiệt dịch khí thành; bao gồm 3 thân quặng cả quặng phong hóa và chưa phong hóa. Mỏ có điều kiện khai thác thuận lợi, kết nối dễ dàng với hệ thống giao thông, độ sâu khai thác tối đa là -10m.

                        Với trữ lượng 4.000.000 tấn quặng nguyên khai, hàm lượng tinh quặng bình quân 13% thì tổng trữ lượng tinh quặng của mỏ là 520.000 tấn tinh quặng.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-contain triangle-white">
    </div>
    <div id="general-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#general-slider" data-slide-to="0" class="active"></li>
            <li data-target="#general-slider" data-slide-to="1"></li>
            <li data-target="#general-slider" data-slide-to="2"></li>
            <li data-target="#general-slider" data-slide-to="3"></li>
            <li data-target="#general-slider" data-slide-to="4"></li>
            <li data-target="#general-slider" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/Post_Images/intro-slide-1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/dist/Post_Images/intro-slide-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/dist/Post_Images/GP9A6385.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/dist/Post_Images/GP9A6764.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/dist/Post_Images/GP9A6800.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/dist/Post_Images/GP9A6785.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#general-slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#general-slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="graphite-factory" class="map-intro-1 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="font-weight-bold graphite-font-color text-animate focus-in-expand">NHÀ MÁY CHẾ BIẾN</h3>
                </div>
                <div class="col-12 pt-5">
                    <p>
                        &nbsp;&nbsp; Công suất thiết kế của nhà máy tuyển nổi hiện nay khoảng 40.000 tấn tinh quặng/năm, công suất vận hành hiện tại khoảng 24.000 tấn/năm. Dự kiến đến giữa năm 2020, VGG sẽ nâng công suất tuyển nổi của nhà máy lên khoảng 50.000 tấn/năm; vừa cung cấp sản phẩm tuyển nổi ra thị trường, vừa cấp nguyên liệu đầu vào cho dự án tuyển sâu, nâng cấp hàm lượng carbon tinh quặng lên 99,95%++.
                    </p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-12 text-center">
                    <p class="multiline">
                        Nhà máy có thiết bị và công nghệ hiện đại trong ngành tuyển khoáng; 
                        gồm các công đoạn chính sau đây:
                    </p>
                </div>
            </div>
            <div class="row pt-5 pb-5 align-items-lg-center">
                <div class="col-2 offset-1">
                    <div class="hexagon ml-2">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>01</span></h1>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        NGHIỀN THÔ
                    </h5>
                    <h5 class="text-center text-uppercase">
                        NGHIỀN NHỎ
                    </h5>
                </div>
                <div class="col-2">
                    <div class="hexagon ml-2">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>02</span></h1>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        TUYỂN NỔI
                    </h5>
                    <h5 class="text-center text-uppercase">
                        &nbsp;
                    </h5>
                </div>
                <div class="col-2">
                    <div class="hexagon ml-2">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>03</span></h1>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        ÉP LỌC
                    </h5>
                    <h5 class="text-center text-uppercase">
                        &nbsp;
                    </h5>
                </div>
                <div class="col-2">
                    <div class="hexagon ml-2">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>04</span></h1>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        SẤY & PHÂN CẤP
                    </h5>
                    <h5 class="text-center text-uppercase">
                        TINH QUẶNG
                    </h5>
                </div>
                <div class="col-2">
                    <div class="hexagon ml-2">
                        <div class="hexagon-inner-text pt-3">
                            <h1 class="font-weight-bold"><span>05</span></h1>
                        </div>
                    </div>
                    <h5 class="text-center text-uppercase pt-5 mb-0">
                        ĐÓNG BAO
                    </h5>
                    <h5 class="text-center text-uppercase">
                        &nbsp;
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div id="graphite-company" class="company-profile">
        <div class="container pt-5 pb-5">
            <div class="row">
                <h3 class="text-white text-animate font-weight-bold focus-in-expand">NGÀNH NGHỀ HOẠT ĐỘNG</h3>
            </div>
            <div class="row pt-5">
                <div class="col-4">
                    <p class="text-white">
                        1.  Hoạt động dịch vụ, hỗ trợ khai thác mỏ và quặng
                        khác: Khai thác khoáng sản, Chế biến khoáng sản.
                    </p>
                    <p class="text-white">
                        2. Sản xuất vật liệu xây dựng từ đất sét: Sản xuất
                        gạch ngói không chịu lửa, gạch hình khối khảm.

                    </p>
                    <p class="text-white">
                        3. Sản xuất sản phẩm từ chất khoáng phi kim loại
                        khác chưa phân vào đâu: Sản xuất vật liệu xây
                        dựng không nung siêu nhẹ.

                    </p>
                    <p class="text-white">
                        4. Xây dựng nhà các loại.
                    </p>
                    <p class="text-white">
                        5. Xây dựng công trình kỹ thuật dân dụng khác:
                        Công trình kỹ thuật hạ tầng đô thị và khu công
                        nghiệp.

                    </p>
                    <p class="text-white">
                        6. Xây dựng công trình đường sắt và đường bộ.
                    </p>
                    <p class="text-white">
                        7. Sản xuất các cấu kiện kim loại: Sản xuất sản
                        phẩm từ kim loại đúc sẵn (trừ máy móc, thiết bị).

                    </p>
                </div>
                <div class="col-4">
                    <p class="text-white">
                        8. Sản xuất sắt, thép, gang.
                    </p>
                    <p class="text-white">
                        9. Sản xuất kim loại màu và kim loại quý.
                    </p>
                    <p class="text-white">
                        10. Đúc sắt, thép.
                    </p>
                    <p class="text-white">
                        11. Đúc kim loại màu (Trừ vàng).
                    </p>
                    <p class="text-white">
                        12. Sản xuất thủy tinh và sản phẩm từ thủy tinh.
                    </p>
                    <p class="text-white">
                        13. Sản xuất sản phẩm chịu lửa.
                    </p>
                    <p class="text-white">
                        14. Sản xuất xi măng, vôi và thạch cao.
                    </p>
                    <p class="text-white">
                        15. Sản xuất bê tông và các sản phẩm từ xi măng và thạch cao.
                    </p>
                    <p class="text-white">
                        16. Khai thác khoán hóa chất và khoáng phân bón.
                    </p>
                    <p class="text-white">
                        17. Khai thác đá, cát, sỏi, đất sét.
                    </p>
                    <p class="text-white">
                        18. Khai thác quặng sắt.
                    </p>
                </div>
                <div class="col-4">
                    <p class="text-white">
                        19. Khai thác quặng kim loại khác không chứa sắt.
                    </p>
                    <p class="text-white">
                        20. Khai thác quặng kim loại quí hiếm (Trừ vàng).
                    </p>
                    <p class="text-white">
                        21. Hoạt động dịch vụ hỗ trợ kinh doanh khác còn lại chưa được phân vào đâu: Xuất nhập khẩu các mặt hàng công ty kinh doanh.
                    </p>
                    <p class="text-white">
                        22. Bán buôn nông, lâm sản nguyên liệu (Trừ gỗ,tre, nứa) và động vật sống (Trừ kinh doanh động vật hoang dã thuộc danh mục điều ước Quốc tế mà Việt Nam ký kết hoặc tham gia quy định và các loại động vật quý hiếm khác theo quý định của pháp luật).
                    </p>
                    <p class="text-white">
                        23. Bán buôn máy móc, thiết bị và phụ tùng máy khác: Bán buôn máy móc, thiết bị điện, vật liệu điện (máy phát điện, động cơ điện, dây điện và thiết bị khác dụng khác trong mạch điện).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

