﻿$hrHeight: 1px;
$hrColor: #ffffff;

hr {
    height: $hrHeight;
    background-color: #d2d2d2;
}
#general-contain hr {
    background-color: $hrColor;
    border: none;
}

$buildingBackGroundImg: '/dist/Post_Images/general-background.jpg';

.building-info {
    background-image: url($buildingBackGroundImg);
    background-size: cover;
}

$mapBoneBg: '/dist/Post_Images/map-background.png';
.map-bone-background {
    background-image: url($mapBoneBg);
    background-size: cover;
}

.map-text{
    position: absolute;
    top: 0;
}

.map-geo{
    position: absolute;
    top: 28%;
    left: 15%;
}

$companyProfile: '/dist/Post_Images/company-profile.jpg';
.company-profile {
    background-image: linear-gradient(rgba(0, 70, 156, 0.7), rgba(0, 70, 156, 0.4)), url($companyProfile);
    background-size: cover;
    background-repeat: no-repeat;
}

.map-geo img {
    animation: MoveUpDown 1s linear infinite;
    -webkit-animation: MoveUpDown 1s linear infinite;
    position: absolute;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: -50px;
    }

    50% {
        bottom: -20px;
    }
}