﻿
$highTechImg: '/dist/Post_Images/high-tech-background-black.jpg';
.high-tech {
    background-image: url($highTechImg);
    background-size: cover;
}

#home-contain .carousel-caption{
    bottom: 40%;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}
