﻿
@{
    ViewData["Title"] = "Sản phẩm";
}

@section Scripts{
    <script src="~/dist/product-mng.bundle.js"></script>
}

<div id="product-contain" class="mb-5">
    <div id="team-header-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/Post_Images/product-1.png" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="~/dist/Post_Images/product-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-caption mb-5 d-none d-md-block">
                <div class="row">
                    <div class="col-sm text-center tracking-in-contract-bck-bottom">
                        <h1>
                            SẢN PHẨM
                        </h1>
                        <h1>
                            GRAPHITE CAO CẤP
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <ul class="nav nav-pills nav-fill mb-3 high-tech" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase text-white font-weight-bold" id="pills-up-prd-tab" data-toggle="pill" href="#pills-up-prd" role="tab" aria-controls="pills-home" aria-selected="true">SẢN PHẨM TUYỂN NỔI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white font-weight-bold" id="pills-deep-prd-tab" data-toggle="pill" href="#pills-deep-prd" role="tab" aria-controls="pills-profile" aria-selected="false">SẢN PHẨM TUYỂN SÂU VÀ CHẾ BIẾN</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-up-prd" role="tabpanel" aria-labelledby="pills-up-prd-tab">
                <partial name="_FloatingProduct" />
            </div>
            <div class="tab-pane fade" id="pills-deep-prd" role="tabpanel" aria-labelledby="pills-deep-prd-tab">
                <partial name="_DeepProduct" />
            </div>
        </div>
    </div>
</div>

