﻿@{
    var data = ViewData["News"] as IEnumerable<Post>;
}
<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="row text-center text-lg-left align-items-lg-center">
                    <div class="col-12 text-dark">
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            CHÚNG TÔI TỰ HÀO
                        </h4>
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            LÀ MỘT TẬP ĐOÀN TIÊN PHONG
                        </h4>
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            KHAI THÁC VÀ CHẾ BIẾN
                        </h4>
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            GRAPHITE TẠI VIỆT NAM
                        </h4>
                    </div>
                    <div class="col-12 row pt-4">
                        <div class="col-12 title-contain">
                            <a class="my-0 h6 font-weight-bold text-uppercase" href="@Url.Action("Index", "GeneralInfo", new { moduleName = "" })">VỀ CHÚNG TÔI</a>
                            <hr />
                        </div>
                        <div class="col-12 title-contain">
                            <a class="my-0 font-weight-bold text-uppercase h6" href="@Url.Action("Index", "Partner")">ĐỐI TÁC</a>
                            <hr />
                        </div>
                        <div class="col-12 title-contain">
                            <a class="my-0 font-weight-bold text-uppercase h6" href="@Url.Action("Index", "News")">TIN TỨC</a>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12 text-dark">
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            TIN TỨC
                        </h4>
                    </div>
                </div>
                <div class="row">
                    @if (data != null && data.Any())
                    {
                        foreach (var news in data)
                        {
                            <div class="col-6">
                                <div class="row text-center text-lg-left align-items-lg-center">
                                    <div class="col-12 text-dark">
                                        <hr />
                                    </div>
                                    <div class="col-12 text-dark">
                                        <figure><img class="w-100" style="height:200px" src="@(Helper.ImgUri + news.ShortcutImage.Url)" /></figure>
                                    </div>
                                    <div class="col-12 pt-2 text-dark news-contain">
                                        <div class="title-contain">
                                            <a href="@Url.Action("Detail", "News", new { slug = news.Slug })" class="font-weight-bold h5">
                                                @news.Title
                                            </a>
                                        </div>
                                        <div>
                                            <span>@news.ShortDescription</span>
                                        </div>
                                    </div>
                                    <div class="col-12 text-dark">
                                        <hr />
                                    </div>
                                    <div class="col-12 text-right">
                                        <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = news.Slug })">Xem thêm ...</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-6">
                            <div class="row text-center text-lg-left align-items-lg-center">
                                <div class="col-12 text-dark">
                                    <hr />
                                </div>
                                <div class="col-12 text-dark">
                                    <figure><img class="w-100" src="~/dist/Post_Images/news-pakage-move-4-thumb.jpg" /></figure>
                                </div>
                                <div class="col-12 pt-2 text-dark news-contain">
                                    <div class="title-contain">
                                        <a href="@Url.Action("Detail", "News", new { slug = "tong-hop-hang-di-va-du-kien-di" })" class="font-weight-bold h5">
                                            Tổng hợp hàng đi và dự kiến đi
                                        </a>
                                    </div>
                                    <div>
                                        <span>Tổng hợp hàng đi và dự kiến đi. (Trong tháng 2, tháng 3, tháng 4 - 2020)</span>
                                    </div>
                                </div>
                                <div class="col-12 text-dark">
                                    <hr />
                                </div>
                                <div class="col-12 text-right">
                                    <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = "tong-hop-hang-di-va-du-kien-di" })">Xem thêm ...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row text-center text-lg-left align-items-lg-center">
                                <div class="col-12 text-dark">
                                    <hr />
                                </div>
                                <div class="col-12 text-dark">
                                    <figure>
                                        <img class="w-100" src="~/dist/Post_Images/new-small-3.jpg" />
                                    </figure>
                                </div>
                                <div class="col-12 pt-2 text-dark news-contain">
                                    <div class="title-contain">
                                        <a class="font-weight-bold h5" href="@Url.Action("Detail", "News", new { slug = "du-an-dau-tu-xay-dung-nha-may-che-bien-graphite-yen-bai" })">
                                            Dự án đầu tư xây dựng nhà máy chế biến graphite yên bái
                                        </a>
                                    </div>
                                    <div>
                                        <span>Dự án đầu tư xây dựng nhà máy chế biến Graphite Yên Bái là dự án lớn được cấp giấy chứng nhận đầu tư số 16102100018...</span>
                                    </div>
                                </div>
                                <div class="col-12 text-dark">
                                    <hr />
                                </div>
                                <div class="col-12 text-right">
                                    <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = "du-an-dau-tu-xay-dung-nha-may-che-bien-graphite-yen-bai" })">Xem thêm ...</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @*<div class="col-4">
                    <div class="row text-center text-lg-left align-items-lg-center">
                        <div class="col-12 text-dark">
                            <h4 class="font-weight-bold my-0 text-uppercase">
                                TIN TỨC
                            </h4>
                            <hr />
                        </div>
                        <div class="col-12 text-dark">
                            <figure><img class="w-100" src="~/dist/Post_Images/news-pakage-move-4-thumb.jpg" /></figure>
                        </div>
                        <div class="col-12 pt-2 text-dark news-contain">
                            <div class="title-contain">
                                <a href="@Url.Action("Detail", "News", new { slug = "tong-hop-hang-di-va-du-kien-di" })" class="font-weight-bold h5">
                                    Tổng hợp hàng đi và dự kiến đi
                                </a>
                            </div>
                            <div>
                                <span>Tổng hợp hàng đi và dự kiến đi. (Trong tháng 2, tháng 3, tháng 4 - 2020)</span>
                            </div>
                        </div>
                        <div class="col-12 text-dark">
                            <hr />
                        </div>
                        <div class="col-12 text-right">
                            <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = "tong-hop-hang-di-va-du-kien-di" })">Xem thêm ...</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row text-center text-lg-left align-items-lg-center">
                        <div class="col-12 text-dark">
                            <h4 class="font-weight-bold my-0 text-uppercase">
                                &nbsp;
                            </h4>
                            <hr />
                        </div>
                        <div class="col-12 text-dark">
                            <figure>
                                <img class="w-100" src="~/dist/Post_Images/new-small-3.jpg" />
                            </figure>
                        </div>
                        <div class="col-12 pt-2 text-dark news-contain">
                            <div class="title-contain">
                                <a class="font-weight-bold h5" href="@Url.Action("Detail", "News", new { slug = "du-an-dau-tu-xay-dung-nha-may-che-bien-graphite-yen-bai" })">
                                    Dự án đầu tư xây dựng nhà máy chế biến graphite yên bái
                                </a>
                            </div>
                            <div>
                                <span>Dự án đầu tư xây dựng nhà máy chế biến Graphite Yên Bái là dự án lớn được cấp giấy chứng nhận đầu tư số 16102100018...</span>
                            </div>
                        </div>
                        <div class="col-12 text-dark">
                            <hr />
                        </div>
                        <div class="col-12 text-right">
                            <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = "du-an-dau-tu-xay-dung-nha-may-che-bien-graphite-yen-bai" })">Xem thêm ...</a>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>