﻿@{
    var data = ViewData["News"] as IEnumerable<Post>;
}
<div class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row text-center text-lg-left align-items-lg-center">
                    <div class="col-12 text-dark">
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            CHÚNG TÔI TỰ HÀO
                        </h4>
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            LÀ MỘT TẬP ĐOÀN TIÊN PHONG
                        </h4>
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            KHAI THÁC VÀ CHẾ BIẾN
                        </h4>
                        <h4 class="font-weight-bold my-0 text-uppercase">
                            GRAPHITE TẠI VIỆT NAM
                        </h4>
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-12">
                <div class="text-center">
                    <h4 class="font-weight-bold my-0 text-uppercase">
                        TIN TỨC
                    </h4>
                    <hr />
                </div>
            </div>
            @if (data != null && data.Any())
            {
                foreach (var news in data)
                {
                    <div class="col-12 pt-5">
                        <div class="row text-center text-lg-left align-items-lg-center">
                            <div class="col-12 text-dark">
                                <figure><img class="w-100" src="@(Helper.ImgUri + news.ShortcutImage.Url)" /></figure>
                            </div>
                            <div class="col-12 pt-2 text-dark text-left news-contain">
                                <h5>
                                    <a href="@Url.Action("Detail", "News", new { slug = news.Slug })" class="text-dark font-weight-bold">
                                        @news.Title
                                    </a>
                                </h5>
                                <div>
                                    <span>@news.ShortDescription</span>
                                </div>
                            </div>
                            <div class="col-12 text-dark">
                                <hr />
                            </div>
                            <div class="col-12 text-right">
                                <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = news.Slug })">Xem thêm ...</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <div class="row text-center text-lg-left align-items-lg-center">
                        <div class="col-12 text-dark">
                            <figure><img class="w-100" src="~/dist/Post_Images/news-pakage-move-4-thumb.jpg" /></figure>
                        </div>
                        <div class="col-12 pt-2 text-dark text-left news-contain">
                            <h5>
                                <a href="@Url.Action("Detail", "News", new { slug = "tong-hop-hang-di-va-du-kien-di" })" class="text-dark font-weight-bold">
                                    Tổng hợp hàng đi và dự kiến đi
                                </a>
                            </h5>
                            <div>
                                <span>Tổng hợp hàng đi và dự kiến đi. (Trong tháng 2, tháng 3, tháng 4 - 2020)</span>
                            </div>
                        </div>
                        <div class="col-12 text-dark">
                            <hr />
                        </div>
                        <div class="col-12 text-right">
                            <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = "tong-hop-hang-di-va-du-kien-di" })">Xem thêm ...</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row text-center text-lg-left align-items-lg-center">
                        <div class="col-12 text-dark">
                            <figure>
                                <img class="w-100" src="~/dist/Post_Images/new-small-3.jpg" />
                            </figure>
                        </div>
                        <div class="col-12 pt-2 text-dark text-left news-contain">
                            <h5>
                                <a class="font-weight-bold text-dark" href="@Url.Action("Detail", "News", new { slug = "du-an-dau-tu-xay-dung-nha-may-che-bien-graphite-yen-bai" })">
                                    Dự án đầu tư xây dựng nhà máy chế biến graphite yên bái
                                </a>
                            </h5>
                            <div>
                                <span>Dự án đầu tư xây dựng nhà máy chế biến Graphite Yên Bái là dự án lớn được cấp giấy chứng nhận đầu tư số 16102100018...</span>
                            </div>
                        </div>
                        <div class="col-12 text-dark">
                            <hr />
                        </div>
                        <div class="col-12 text-right">
                            <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = "du-an-dau-tu-xay-dung-nha-may-che-bien-graphite-yen-bai" })">Xem thêm ...</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>