﻿
@{
    ViewData["Title"] = "Việt Nam Graphite";
    var isMobile = false;

    if (ViewData["IsMobile"] != null)
    {
        isMobile = (bool)ViewData["IsMobile"];
    }
}

@section Scripts{
    <script src="~/dist/home-mng.bundle.js"></script>
}

<div id="home-contain" class="mb-5">
    <div id="carouselHome" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHome" data-slide-to="1"></li>
            <li data-target="#carouselHome" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/Post_Images/can-cau.jpg" data-text-color="text-white" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/dist/Post_Images/general-slide-1.jpg" data-text-color="graphite-font-color" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/dist/Post_Images/DJI_00062.jpg" data-text-color="graphite-font-color" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-caption container d-none d-md-block">
                <div class="row">
                    <div class="col-sm text-left animated-title">
                        <h3 class="focus-in-contract-bck">NGUỒN TÀI NGUYÊN DỒI DÀO </h3>
                        <h1 class="font-weight-bold focus-in-contract-bck">TRONG LÒNG ĐẤT</h1>
                        <a id="btnViewVideo" data-toggle="modal" data-target="#myModal" href="#" class="btn btn-xlg btn-white btn-rounded shadow-lg btn-danger bg-op-8 bg-hover-white">Xem video &nbsp;&nbsp;<i class="far fa-play-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content-below" class="high-tech">
        <div class="text-white py-4">
            <div class="container">
                <div class="row text-center text-lg-left align-items-lg-center">
                    <div class="col-12 col-lg-7 text-white">
                        <h3 class="font-weight-bold my-0 text-uppercase focus-in-contract-bck">
                            Công nghệ tiên tiến
                        </h3>
                        @if (isMobile)
                        {
                            <p class="font-weight-normal op-9 my-0 focus-in-contract-bck">
                                @Html.Raw("Chúng tôi luôn nỗ lực để tạo ra những sản phẩm <br />chất lượng")
                            </p>
                        }
                        else
                        {
                            <p class="font-weight-normal op-9 my-0 focus-in-contract-bck">
                                @Html.Raw("Chúng tôi luôn nỗ lực để tạo ra những sản phẩm chất lượng")
                            </p>
                        }
                    </div>
                    <div class="col-12 col-lg-5 py-2 text-lg-right">
                        <a href="@Url.Action("Index", "Product")" class="btn btn-xlg btn-white btn-rounded shadow-lg btn-danger bg-op-8 bg-hover-white">Xem sản phẩm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (isMobile)
    {
        <partial name="_ShortNewsMobile" />
    }
    else
    {
        <partial name="_ShortNewsDesktop" />
    }
</div>
<partial name="_VideoIntro" />
