﻿
@{
    ViewData["Title"] = "Đối tác";
}

@section Scripts{
    <script src="~/dist/partner-mng.bundle.js"></script>
}

<div id="product-contain" class="mb-5">
    <div id="partner-header-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-target="#pills-stragery">
                <img src="~/dist/Post_Images/shake-hands-gradient.jpg" class="d-block w-100 slide">
                <div class="carousel-caption d-md-block">
                    <div class="row">
                        <div class="col-sm text-center tracking-in-contract-bck-bottom">
                            <h4>
                                ĐỐI TÁC CHIẾN LƯỢC
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-target="#pills-tech">
                <img src="~/dist/Post_Images/shake-hands-gradient.jpg" class="d-block w-100 slide">
                <div class="carousel-caption d-md-block">
                    <div class="row">
                        <div class="col-sm text-center tracking-in-contract-bck-bottom">
                            <h4>
                                ĐỐI TÁC CÔNG NGHỆ
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-target="#pills-distribute">
                <img src="~/dist/Post_Images/shake-hands-gradient.jpg" class="d-block w-100 slide">
                <div class="carousel-caption d-md-block">
                    <div class="row">
                        <div class="col-sm text-center tracking-in-contract-bck-bottom">
                            <h4>
                                ĐỐI TÁC PHÂN PHỐI SẢN PHẨM
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#partner-header-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#partner-header-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container-fluid p-0">
        <ul class="nav nav-pills nav-fill mb-3 high-tech d-none" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase text-white font-weight-bold" id="pills-stragery-tab" data-toggle="pill" href="#pills-stragery" role="tab" aria-controls="pills-home" aria-selected="true">ĐỐI TÁC CHIẾN LƯỢC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white font-weight-bold" id="pills-tech-tab" data-toggle="pill" href="#pills-tech" role="tab" aria-controls="pills-profile" aria-selected="false">ĐỐI TÁC CÔNG NGHỆ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white font-weight-bold" id="pills-distribute-tab" data-toggle="pill" href="#pills-distribute" role="tab" aria-controls="pills-profile" aria-selected="false">ĐỐI TÁC PHÂN PHỐI SẢN PHẨM</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-stragery" role="tabpanel" aria-labelledby="pills-stragery-tab">
                <partial name="_StrageryPartner.Mobile" />
            </div>
            <div class="tab-pane fade" id="pills-tech" role="tabpanel" aria-labelledby="pills-tech-tab">
                <partial name="_TechnologyPartner.Mobile" />
            </div>
            <div class="tab-pane fade" id="pills-distribute" role="tabpanel" aria-labelledby="pills-distribute-tab">
                <partial name="_DistributionPartner.Mobile" />
            </div>
        </div>
    </div>
</div>

