﻿
@{
    ViewData["Title"] = "Đối tác";
}

@section Scripts{
    <script src="~/dist/partner-mng.bundle.js"></script>
}

<div id="product-contain" class="mb-5">
    <div id="partner-header-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/Post_Images/shake-hands.jpg" class="d-block w-100 slide">
            </div>
            <div class="carousel-caption mb-5 d-none d-md-block">
                <div class="row">
                    <div class="col-sm text-center tracking-in-contract-bck-bottom">
                        <h1>
                            TẠO UY TÍN
                        </h1>
                        <h1>
                            DỰNG NIỀM TIN
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <ul class="nav nav-pills nav-fill mb-3 high-tech" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase text-white font-weight-bold" id="pills-stragery-tab" data-toggle="pill" href="#pills-stragery" role="tab" aria-controls="pills-home" aria-selected="true">ĐỐI TÁC CHIẾN LƯỢC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white font-weight-bold" id="pills-tech-tab" data-toggle="pill" href="#pills-tech" role="tab" aria-controls="pills-profile" aria-selected="false">ĐỐI TÁC CÔNG NGHỆ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase text-white font-weight-bold" id="pills-distribute-tab" data-toggle="pill" href="#pills-distribute" role="tab" aria-controls="pills-profile" aria-selected="false">ĐỐI TÁC PHÂN PHỐI SẢN PHẨM</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-stragery" role="tabpanel" aria-labelledby="pills-stragery-tab">
                <partial name="_StrageryPartner" />
            </div>
            <div class="tab-pane fade" id="pills-tech" role="tabpanel" aria-labelledby="pills-tech-tab">
                <partial name="_TechnologyPartner" />
            </div>
            <div class="tab-pane fade" id="pills-distribute" role="tabpanel" aria-labelledby="pills-distribute-tab">
                <partial name="_DistributionPartner" />
            </div>
        </div>
    </div>
</div>

