﻿@model List<Post>

<div class="col-4">
    <div class="row text-center text-lg-left align-items-lg-center">
        <div class="col-12 text-dark">
            <h3 class="font-weight-bold my-0 text-uppercase graphite-font-color">
                Dự án
            </h3>
        </div>
        <div class="col-12 pt-3 text-dark">
            <small class="font-weight-bold my-0 graphite-font-color">
                Xem nhiều
            </small>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var news in Model)
        {
            <div class="row text-center pt-5 text-lg-left align-items-lg-center">
                <div class="col-12 pt-3 text-dark">
                    <img class="w-100" src="@(Helper.ImgUri +news.ShortcutImage.Formats.Small.Url)" />
                </div>
                <div class="col-12 pt-2 text-dark">
                    <p class="font-weight-bold">@news.Title</p>
                    <span>@Html.Raw(news.ShortDescription)</span>
                </div>
                <div class="col-12 text-dark">
                    <hr />
                </div>
                <div class="row col-12 pr-0">
                    <div class="col">
                        <small>@news.Published_At</small>
                    </div>
                    <div class="col text-right p-0">
                        <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = news.Slug })">Chi tiết</a>
                    </div>
                </div>
            </div>
        }
    }

</div>