﻿@model Post

@{
    var sameCats = ViewData["SameData"] as List<Post>;
}

<div class="col-12">
    <div class="col-12 p-0">
        <p class="h3">@Model.Title</p>
        <small>@Model.Published_At</small>
    </div>
    <div class="col-12 pt-2">
        <div class="row">
            <a class="p-1" href="#"><img src="~/dist/Post_Images/social-icons/32_PNG/32-facebook.png" /></a>
            <a class="p-1" href="#"><img src="~/dist/Post_Images/social-icons/32_PNG/32-twitter.png" /></a>
            <a class="p-1" href="#"><img src="~/dist/Post_Images/social-icons/32_PNG/32-linkedin.png" /></a>
            <a class="p-1" href="#"><img src="~/dist/Post_Images/social-icons/32_PNG/32-tumblr.png" /></a>
        </div>
    </div>
    @foreach (var textBlock in Model.PostItems)
    {
        var imgs = textBlock.Images;
        <div class="col-12 p-0 pt-3">
            <p class="multiline">
                @Html.Raw(textBlock.Content)
            </p>
        </div>
        @if (imgs != null)
        {
            foreach (var img in imgs)
            {
                <div class="col-12 p-0 pt-5">
                    <img class="w-100" src="@(Helper.ImgUri +img.Url)" />
                    <div class="col-12 text-center">
                        <em class="small">@img.AlternativeText</em>
                    </div>
                </div>
            }
        }
    }
    <div class="col-12 p-0 text-dark">
        <hr />
    </div>
    <div class="col-12 p-0">
        <h5 class="font-weight-bold">Tin liên quan</h5>
        <ul>
            @foreach (var item in sameCats)
            {
                <li><a href="@Url.Action("Detail", "News", new { slug = item.Slug })">@item.Title</a></li>
            }
        </ul>
    </div>
</div>