﻿@model List<Post>
@{
    ViewData["Title"] = "Tin tức";
    var dictCategory = ViewData["Category"] as Dictionary<int, string>;
}

@section Scripts{
    <script src="~/dist/news-mng.bundle.js"></script>
}

<div id="news-contain" class="mb-5">
    <div id="news-header-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/dist/Post_Images/news-header.png" class="d-block w-100">
            </div>
        </div>
    </div>
    @if (Model.Any())
    {
<div class="row pl-5 pr-5">
    @foreach (var newsItem in Model)
    {

        <div class="col-4 mt-5">
            <div class="row text-lg-left">
                <div class="col-12 text-dark">
                    <figure>
                        <img class="w-100" style="height: 325px !important" src="@(Helper.ImgUri + newsItem.ShortcutImage.Url)" />
                    </figure>
                </div>
                <div class="col-12 pt-2 text-dark news-contain">
                    <h5>
                        <a class="font-weight-bold text-dark" href="@Url.Action("Detail", "News", new { slug = newsItem.Slug })">
                            @newsItem.Title
                        </a>
                    </h5>
                    <div><span>@newsItem.ShortDescription</span></div>
                </div>
                <div class="col-12 text-dark">
                    <hr />
                </div>
                <div class="row col-12 pr-0">
                    <div class="col">
                        <small>@newsItem.Published_At</small>
                    </div>
                    <div class="col text-right p-0">
                        <a class="text-dark" href="@Url.Action("Detail", "News", new { slug = newsItem.Slug })">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
        
    }
</div>

